footer nav {
    background-color: var(--bg-color-bluegrey);

}

footer a {
    color: #000; 
    text-transform: uppercase;
    display: inline-block;
    padding: 1rem; 
    text-decoration: none; 
}

.footer-nav {
    display: flex;
}

.footer-nav-item {
    flex: 1 1 25%
}