@media only screen and (max-width: 799px) {
    .hide-on-mobile {
        display: none;
    }
}



@media only screen and (min-width: 800px) {
    .hide-on-desktop{
        display: none;
    }

    .desktop-label {
        font-size: 1.2rem;
        text-transform: uppercase;
    }

    .banner-h1 {
        font-size: 3.5rem;
    }

    .banner-p {
        font-size: 1.4rem;
    }

    .banner-horror{
        min-height: 18rem;
    }

    .banner-horror__content {
        position: relative;
        top: 12rem;
    }

    .horror-h1 {
        font-size: 3.3rem;
    }

    .filmlist-horror {
        margin: auto;
    }

    .film-grid {
        display: grid;
        grid-template-columns: 50% 1fr;
        gap: 1rem;
        grid-auto-rows: minmax(auto, auto);
        margin: auto;
        max-width: 1440px;
    }
    
    .grid-title {
        grid-column: 1/-1;
        grid-row: 1;
    }
    
    .grid-details {
        grid-column: 1/-1;
        grid-row: 2;
    }
    
    .grid-icons {
        grid-column: 1;
        grid-row: 3;
    }
    
    .grid-synopsis {
        grid-column: 1;
        grid-row: 4;
    }
    
    .grid-cta {
        grid-column: 2;
        grid-row: 3;
    }
    
    .grid-castcrew {
        grid-column: 2;
        grid-row: 4;
    }

    .title {
        margin: 0;
        padding: 1rem;
        text-align: left;
    }

    .details {
        display: inline-flex;
        gap: 1.5rem;
        padding: 0rem 1rem;
    }
    
    .icons {
        display: inline-flex;
        gap: 4rem;
        padding: 1rem 1rem;
        color: var(--theme-color-accent);
    }
    
    .synopsis {
        font-size: 1.2rem;
        line-height: 1.6rem;
        padding: 0rem 1rem;
    }
    
    .filmpage-button {
        margin: 0 0 0 2rem;
    }
    
    .castcrew {
        font-size: 1rem;
        line-height: 1.4rem;
        margin-left: 2rem;
    
    }
}