@media only screen and (max-width: 799px) {
    .hide-on-mobile {
        display: none;
    }
}



@media only screen and (min-width: 800px) {
    .hide-on-desktop{
        display: none;
    }

    .desktop-label {
        font-size: 1.2rem;
        text-transform: uppercase;
    }

    .banner-h1 {
        font-size: 3.5rem;
    }

    .banner-p {
        font-size: 1.4rem;
    }

    .banner-horror{
        min-height: 18rem;
    }

    .banner-horror__content {
        position: relative;
        top: 12rem;
    }

    .horror-h1 {
        font-size: 3.3rem;
    }

    .filmlist-horror {
        margin: auto;
    }
}