.checkout {
    margin: auto;
    max-width: 1440px;
    text-align: center;
}

.checkout > div > img {
    max-width: 78%;
    margin: 1rem auto;
    display: flex;
}

.form-wrapper-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.form-wide {
    grid-column: 1/5;
}

.form-short {

}

.name {
    grid-row: 1;
}

.email {
    grid-row: 2;
}

.ccnumber {
    grid-row: 3;
}
