.content {
    max-width: 600px;
    margin: auto;
    padding: 3.75rem 1rem;
    position: relative;
    top: 1rem;
}

.content__heading {
    text-align: left;
    font-size: 2rem;
    margin-bottom: 30px;

}

.center-item {
    display: flex;
    justify-content: center;
}

.h2 {
    color: var(--theme-color-blue);
}

/*
.film-link {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
*/

/* contact form */

.form-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 16rem;
    margin: 2rem auto 1rem;
}

input,
textarea {
    border: 1px solid #DA4167;
    border-radius: 3px;
    margin: 7px 10px 20px 0px;
    padding: 6px;
}

label {
    font-size: 0.8rem;
}

textarea {
    min-height: 100px;
}

.short {
    width: 50px;
}

