/*filmlist page horror*/

.banner-horror {
    background-image: url(../assets/banner-horror_matthias-cooper-ObYmRBaMDyg-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 7rem;
}

.banner-horror__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 5rem;
    color: var(--theme-color-light);
}

.horror-h1 {
    font-size: 1.3rem;
    margin: auto;
    font-weight: 100;
}

.filmlist-horror {
    max-width: 1440px;
    margin: auto;
}

.filmlist-horror-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(344px, 1fr));
    gap: 1rem;
    padding: 1rem;
    margin: auto;
}

.filmlist-horror-item {
    max-width: 344px;
    position: relative;
    margin: auto;

}

.filmlist-horror-item img {
    height: 174px;
    width: 344px;
    object-fit: cover;
}

.filmlist-horror-content {
    color: var(--theme-color-light);
    z-index: 5;
    position: absolute;
    bottom: 1rem;
    padding: 1rem;
}

.film,
.director {
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px 8px rgba(0, 0, 0);
}

.film {
    font-size: 1.5rem;
    padding-bottom: .5rem;
    
}

.director {
    font-size: .9rem;
    
}






/*
.films {
    max-width: 1340px;
    margin: auto;
}

.film-list {
    display: grid;
    grid-template-columns: 1fra 1fr auto;
    grid-gap: 5px;
    
}

.filmbox-list {
    width: 413px;
    height: 240px;
    
}










/*.horror1 {
    background-image: url(/assets/horror_films/01_annie-spratt-DtryM6WS_Mo-unsplash.jpg);
    background-repeat: no-repeat;
    width: 630px;
    height: 340px;
}

.horror2 {
    background-image: url(/assets/horror_films/02_atharva-lele-GSXHEh-5IMI-unsplash.jpg);
    background-repeat: no-repeat;
    width: 630px;
    height: 340px;
}

.horror3 {
    background-image: url(/assets/horror_films/03_dima-pechurin-wzrYqX0IQ9A-unsplash.jpg);
    background-repeat: no-repeat;
    width: 630px;
    height: 340px;
}

.horror4 {
    background-image: url(/assets/horror_films/04_dollar-gill-i8VrGSWlA9g-unsplash.jpg);
    background-repeat: no-repeat;
    width: 630px;
    height: 340px;
}

.horror5 {
    background-image: url(/assets/horror_films/05_Sc2_Ingrid\ looks\ at\ graves\ 2.jpg);
    background-repeat: no-repeat;
    width: 630px;
    height: 340px;
}

.horror6 {
    background-image: url(/assets/horror_films/06erick-butler-NBl-DLAMYSY-unsplash.jpg);
    background-repeat: no-repeat;
    width: 630px;
    height: 340px;
}*/