/*fundamental code*/
@import url("/css/_reset.css");
@import url("/css/imports/_variables.css");
@import url("/css/imports/_colors.css");
@import url("/css/imports/_fonts.css");

/*component specific code*/
@import url("/css/_header.css");
@import url("/css/_banner.css");
@import url("/css/_buttons.css");
@import url("/css/_dropdown.css");
@import url("/css/_horror.css");
@import url("/css/_film-selection.css");
@import url("/css/_footer.css");


/*media*/
@import url("/css/_media.css");











a {
    text-decoration: none;
}




/*header*/





.blue {
    color: #235993;
}













/*links*/



header a {
    color: #fff;
    padding: 8px;
}


/*banner*/



/*films in focus home*/

.featured-films-home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1440px;
    margin: 50px auto;
    grid-gap: 10px;
}

.film-box {
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-flex;
    flex-direction: column;
    max-width: 400px;
}

.myfilms1 {
    background-image: url(/assets/my_films/01_ardian-lumi-6Woj_wozqmA-unsplash.jpg);
    background-size: 100%;
    
}

.myfilms2 {
    background-image: url(/assets/my_films/02_lu-quang-do-QY1Lm91bEp4-unsplash.jpg);
}

.awfilms1 {
    background-image: url(/assets/my_films/01_ardian-lumi-6Woj_wozqmA-unsplash.jpg);
    background-repeat: no-repeat;
    width: 630px;
    height: 340px;
}

.awfilms2 {
    background-image: url(/assets/my_films/02_lu-quang-do-QY1Lm91bEp4-unsplash.jpg);
    background-repeat: no-repeat;
    width: 630px;
    height: 340px;
}

.ndfilms1 {
    background-image: url(/assets/my_films/01_ardian-lumi-6Woj_wozqmA-unsplash.jpg);
    background-repeat: no-repeat;
    width: 630px;
    height: 340px;
}

.whogoesthere {
    background-image: url(/assets/my_films/02_lu-quang-do-QY1Lm91bEp4-unsplash.jpg);
    background-repeat: no-repeat;
    width: 1000px;
}

.newfilms1 {
    background-image: url(/assets/my_films/01_ardian-lumi-6Woj_wozqmA-unsplash.jpg);
    background-repeat: no-repeat;
    width: 630px;
    height: 340px;
}

.newfilms2 {
    background-image: url(/assets/my_films/02_lu-quang-do-QY1Lm91bEp4-unsplash.jpg);
    background-repeat: no-repeat;
    width: 630px;
    height: 340px;
}

/* explore films filmpage */

.exfilms1 {
    background-image: url(/assets/explore_films/01_antoine-barres-o4u8pFwSiQE-unsplash.jpg);
    background-repeat: no-repeat;
    width: 630px;
    height: 340px;   
}

.exfilms2 {
    background-image: url(/assets/explore_films/02_jan-jakub-nanista-z9hvkSDWMIM-unsplash.jpg);
    background-repeat: no-repeat;
    width: 630px;
    height: 340px;   
}

.exfilms3 {
    background-image: url(/assets/explore_films/03_annie-spratt-DtryM6WS_Mo-unsplash.jpg);
    background-repeat: no-repeat;
    width: 630px;
    height: 340px;   
}





.horror1 {
    background-image: url(/assets/horror_films/01_annie-spratt-DtryM6WS_Mo-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}


.title-m {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.dir-m {
    color:#fff;
    text-transform: uppercase;
    font-size: 1.2;
}

.title-s {
    color:#fff;
    text-transform: uppercase;
    font-size: 1.6rem;
}

.dir-s {
    color:#fff;
    text-transform: uppercase;
}


/*film page Who Goes There?*/

.film-page {
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    grid-template-rows: 5fr;
    gap: 100px;
}



.film-icons-cta {
    grid-column: 1;
    grid-row: 3;
    font-size: 2rem;
    
    
}

.film-icons-cta i {
    display: inline;
    padding: 20px;
}


.buynow {
    grid-column: 2;
    grid-row: 3;
}

.synopsis {
    grid-column: 1;
    grid-row: 4;
}

.credits {
    grid-column: 2;
    grid-row: 4;
}

.more-films {
    grid-row: 5;
}

/* forms */

.form-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 221px;
    margin: 30px auto;

}

input,
textarea {
    border: 1px solid #DA4167;
    border-radius: 3px;
    margin: 7px 10px 20px 0px;
    padding: 6px;
}

label {
    font-size: 0.8rem;
}

textarea {
    min-height: 100px;
}

.short {
    width: 50px;
}


/*about/contact SE*/

.content {
    max-width: 600px;
    margin: auto;
    padding: 3.75rem 0.5rem;
}

.content__heading {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;

}

.film-link {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
