:root {
    --theme-color-accent: #DA4167;
    --theme-color-light: #fff;
    --theme-color-dark: #000;
    --theme-color-blue: #235993;
    --bg-color-blue: #43718E;
    --bg-color-bluegrey: #BED5DD;
}